# Estudo de Caso - Udacity
### Análise de Dataset de Vinhos
Disponível em https://archive.ics.uci.edu/ml/datasets/Wine+Quality

In [1]:
# Realizando imports e abrindo arquivos
import pandas as pd

df_red = pd.read_csv('C:/Users/thiagoPanini/Downloads/datasets/winequality-red.csv')
df_red.head()

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1   7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2  7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3  11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5

#### Atenção!
Foi visto que, diferente do que estamos acostumados, os Datasets de vinhos vieram configurados com ";" como separador. Ao verificafr tal fato, devemos reabrir o arquivo para uma nova análise, passando o separador correto como parâmetro.

In [2]:
df_red = pd.read_csv('C:/Users/thiagoPanini/Downloads/datasets/winequality-red.csv', sep=';')
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

#### Tudo OK!
Agora que conseguimos abrir o arquivo, vamos realizar uma pequena análise visando uma maior familiaridade com os atributos.

In [3]:
# Verificando atributos do DataFrame
df_red.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
fixed acidity           1599 non-null float64
volatile acidity        1599 non-null float64
citric acid             1599 non-null float64
residual sugar          1599 non-null float64
chlorides               1599 non-null float64
free sulfur dioxide     1599 non-null float64
total sulfur dioxide    1599 non-null float64
density                 1599 non-null float64
pH                      1599 non-null float64
sulphates               1599 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [4]:
df_red.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [5]:
# Analisando agora Dataset de vinhos brancos
df_white = pd.read_csv('C:/Users/thiagoPanini/Downloads/datasets/winequality-white.csv', sep=';')
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [6]:
df_white.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
fixed acidity           4898 non-null float64
volatile acidity        4898 non-null float64
citric acid             4898 non-null float64
residual sugar          4898 non-null float64
chlorides               4898 non-null float64
free sulfur dioxide     4898 non-null float64
total sulfur dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [7]:
df_white.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

## 1 - Número de amostras por Dataset

In [8]:
print(f'Número de amostras de vinho tinto (red): {df_red.count()[0]}')
print(f'Número de amostras de vinho branco (white): {df_white.count()[0]}')

Número de amostras de vinho tinto (red): 1599
Número de amostras de vinho branco (white): 4898

In [9]:
# Também é possível (e até melhor) utilizar a função shape
df_red.shape

(1599, 12)

In [10]:
print(f'Número de amostras (rows) de vinho tinto (red): {df_red.shape[0]}')
print(f'Número de amostras (rows) de vinho branco (white): {df_white.shape[0]}')

Número de amostras (rows) de vinho tinto (red): 1599
Número de amostras (rows) de vinho branco (white): 4898

## 2 - Número de colunas em cada conjunto de dados

Referências: 
https://stackoverflow.com/questions/20297332/python-pandas-dataframe-retrieve-number-of-columns

In [11]:
print(f'Colunas vinho tinto: {len(df_red.columns)}')
print(f'Colunas vinho branco: {len(df_white.columns)}')

Colunas vinho tinto: 12
Colunas vinho branco: 12

In [12]:
# Da mesma forma, é mais adequado utilizar a função shape
print(f'Colunas vinho tinto: {df_red.shape[1]}')
print(f'Colunas vinho branco: {df_white.shape[1]}')

Colunas vinho tinto: 12
Colunas vinho branco: 12

## 3 - Recursos com valores faltantes
Referências: https://stackoverflow.com/questions/29530232/how-to-check-if-any-value-is-nan-in-a-pandas-dataframe

In [13]:
# A função .isna(), se aplicado a um DataFrame inteiro, retorna um DataFrame de booleanos, o que não é muito útil neste caso.
df_red.isna()[:5]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False

In [14]:
# Temos a função .isnull().values.any() que retorna True ou False dependendo se há ou não QUALQUER valor NaN

if df_red.isnull().values.any():
    print(f'Há valores NaN no Dataset de vinho tinto.')
else:
    print(f'Não há valores NaN no Dataset de vinho tinto.')
print()
if df_white.isnull().values.any():
    print(f'Há valores NaN no Dataset de vinho branco.')
else:
    print(f'Não há valores NaN no Dataset de vinho branco.')

Não há valores NaN no Dataset de vinho tinto.

Não há valores NaN no Dataset de vinho branco.

In [15]:
# Uma outra forma, um pouco mais lenta, mas também eficaz e específica, é utilizando a função .sum().sum()
# Com ela, é possível verificar com detalhes se há valores faltantes e sua quantidade.

print(f'Há um total de {df_red.isnull().sum().sum()} valores faltantes no Dataset de vinho tinto.')
print(f'Há um total de {df_white.isnull().sum().sum()} valores faltantes no Dataset de vinho branco.')

Há um total de 0 valores faltantes no Dataset de vinho tinto.
Há um total de 0 valores faltantes no Dataset de vinho branco.

Verificando retorno das funções para análises futuras

In [16]:
# DataFrame.isnull()
df_red.isnull()[:3]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False

In [17]:
# DataFrame.isnull().any()
df_red.isnull().any()

fixed acidity           False
volatile acidity        False
citric acid             False
residual sugar          False
chlorides               False
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
dtype: bool

In [18]:
# DataFrame.isnull().values.any()
df_red.isnull().values.any()

False

## 4 - Linhas duplicadas no conjunto de dados sobre vinho branco

Referências: https://medium.com/@kasiarachuta/dealing-with-duplicates-in-pandas-dataframe-789894a28911

In [19]:
# A função .duplicated() retorna uma Series de valores booleanos dizendo True se a linha for duplicada e False caso contrário.
print(df_white.duplicated()[:5])
print(type(df_white.duplicated()))

0    False
1    False
2    False
3    False
4     True
dtype: bool
<class 'pandas.core.series.Series'>

In [20]:
# Para contabilizar as linhas duplicadas, podemos usar .sum() nos valores booleanos (soma apenas True)]
print(f'Há um total de {df_white.duplicated().sum()} linhas duplicadas neste Dataset')

Há um total de 937 linhas duplicadas neste Dataset

In [21]:
# Passando uma Series como argumento para indexar o Dataset, é possível criar um novo DataFrame apenas com as duplicadas
df_white_duplicated = df_white[df_white.duplicated()]
df_white_duplicated.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
7,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
8,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
20,6.2,0.66,0.48,1.2,0.029,29.0,75.0,0.9892,3.33,0.39,12.8,8

A conclusão que se chega sobre as linhas duplicadas é que não necessariamente elas precisam ser apagadas. Isto pois, como se tratam de atributos químicos, é perfeitamente possível duas ou mais amostras possuírem quantidades iguais dentro destes atributos. Dessa forma, o mais adequado é manter estes dados duplicados.

## 5 - Valores únicos para qualidade em cada conjunto de dados

In [22]:
# Contando através da função .nunique()
print(f'Há {df_red["quality"].nunique()} entradas únicas para o atributo Qualidade no Vinho Tinto.')
print(f'Há {df_white["quality"].nunique()} entradas únicas para o atributo Qualidade no Vinho Branco.')

Há 6 entradas únicas para o atributo Qualidade no Vinho Tinto.
Há 7 entradas únicas para o atributo Qualidade no Vinho Branco.

In [56]:
# Visualizando com mais detalhes (distribuição de notas em Qualidade)
df_red['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [57]:
df_white['quality'].value_counts()

6    2198
5    1457
7     880
8     175
4     163
3      20
9       5
Name: quality, dtype: int64

## 6 - Densidade média do conjunto de dados sobre vinho tinto

In [59]:
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [60]:
# Vamos analisar a média da coluna 'density'
df_red['density'].mean()

0.9967466791744833

In [62]:
print(f'Densidade média dos conjunto de Vinho Tinto: {df_red["density"].mean()}')

Densidade média dos conjunto de Vinho Tinto: 0.9967466791744833

# Utilizando NumPy para juntar os dois Datasets em df_whine

In [23]:
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [24]:
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

Objetivo:
* Criar uma coluna 'color' em cada um dos dataframes 
* Atribuir os respectivos valores, ou seja, 'red' para df_red e 'white' para df_white
* Juntar os dois DataFrames

In [25]:
# Importando biblioteca numpy 
import numpy as np

In [26]:
# Utilizando objeto do tipo array para criar nova coluna de dados
color_red = np.repeat(np.array(['red']), df_red.shape[0])
color_white = np.repeat(np.array(['white']), df_white.shape[0])

In [28]:
# Cada um dos comandos acima cria um array unidimensional com valores repetidos de 'red' e 'white'
color_red[:5]

array(['red', 'red', 'red', 'red', 'red'], dtype='<U3')

In [29]:
color_white[:5]

array(['white', 'white', 'white', 'white', 'white'], dtype='<U5')

In [30]:
# Verificando comprimento de cada um
print(color_red.shape)
print(color_white.shape)

(1599,)
(4898,)

In [31]:
# Criando nova coluna 'color' em cada um dos DataFrames
df_red['color'] = color_red
df_white['color'] = color_white

In [32]:
# Verificando
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [33]:
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

In [ ]:
# Unindo DataFrames